<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="vueApp">
    <h1>
        {{ headerText }}
    </h1>

    <p v-bind:title="hoverTitle">
        {{ message }}
    </p>

    <hr />

    <button v-on:click="toggleTime">{{ buttonText }}</button><br />
    <p v-if="timeVisible">
        {{ timeMessage }}
    </p>

    <hr />

    <div>
        <ul>
            <li v-for="beer in beers">
                {{ beer }}
            </li>
        </ul>
    </div>

    <hr />

    <p>
        <label>Wijzig de titel van de pagina hieronder:</label><br />
        <input type="text" v-model="headerText" />
    </p>

    <!-- <hr /> -->

    <!-- <h2>Components</h2> -->

    <!-- <todo></todo> -->
</div>

<script src="index.js"></script>